/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Sam's custom styles
   ========================================================================== */

html,
body {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
body {
  color: #343434;
  background: #F9F8EB;
}

h1,h2,h3,h4,h5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #09385a;
}
p {
  font-family: 'Neuton', serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #111111;
}

#header {
  background: #09385a;
  border-bottom: 2px solid #03233a;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(102,102,102,0.3);
  -moz-box-shadow: 0px 4px 15px 0px rgba(102,102,102,0.3);
  box-shadow: 0px 4px 15px 0px rgba(102,102,102,0.3);
}
#logo {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10% 0 0;
}
#header h1 {
  color: #f1eece;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 2% 0 0;
  padding-bottom: 10%;
}

#email-signup {
  overflow: hidden;
  padding: 1% 0;
  width: 100%;
  border-top: 1px dotted #666666;
  background: #272727;
}
#email-signup h2 {
  font-size: 1.95em;
  margin: 2% 0;
  color: #888888;
}
#email-signup p {
  color: #888888;
}
#email-signup input,
#email-signup button,
#mce-EMAIL,
#mc-embedded-subscribe {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#mce-EMAIL {
  background: #f6f5e9;
  color: #0e6b90;
  min-width: 250px;
  padding: 8px 15px;
  width: 94%;
  max-width: 450px;
}
#mc-embedded-subscribe {
  background: #0f416a;
  padding: 7px 12px 8px;
  margin-top: -1px;
  color: #f2efce;
  font-weight: bold;
  margin-top: 15px;
  width: 94%;
  max-width: 450px;
}
#email-signup button:hover,
#mc-embedded-subscribe:hover {
  background: #114a78;
}

@media (max-width: 767px) {
  #email-signup button { width: 100%; }
}

#social img {
  max-width: 32px;
  height: auto;
  margin: 15px 7px;
  opacity: 0.4;
}
#social img:hover {
  cursor: pointer;
  opacity: 0.6;
}

#content {
  border-top: 2px dotted #FFFFFF;
  padding: 3% 0;
}
#content hr {
  width: 80%;
  max-width: 680px;
  margin: 3% auto;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #CCCCCC;
}
#content img {
  border: 1px solid #EAEAEA;
  padding: 1%;
  margin: 3% 0;
}


#footer {
  background: #212121;
  border-top: 1px solid #222222;
}
#footer p {
  padding: 15px 0;
  color: #555555;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
